src/main/mule/implementations/add-employee.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="post:\employees:application\json:sp-prc-api-config" doc:id="25eb6ef6-4e49-4f15-b219-510f3c85c86b" >
		<logger level="INFO" doc:name="INFO: START" doc:id="e7e087ed-f1be-4cb7-ae84-df7ea0b06d7b" message='#[{&#10;	"Flow": flow.name ++ "Started",&#10;	"CorrelationID" : correlationId&#10;}]'/>
		<db:insert doc:name="New Employee" doc:id="15dc3700-aec6-47e1-adc9-95f96d640167" config-ref="Database_Config">
			<db:sql ><![CDATA[insert into salary (emp_id, emp_name, emp_dep, emp_salary, Country) values (:id, :name, :dep, :sal, :cntry)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	"id" : payload.emp_id,
	"name" : payload.emp_name,
	"dep" : payload.emp_dep,
	"sal" : payload.emp_salary,
	"cntry" : payload.country
}]]]></db:input-parameters>
		</db:insert>
		<ee:transform doc:name="Prepare Response" doc:id="afcfdefe-6149-46ee-8f00-a23d27b86797" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  status: 200,
  message: "Employee added successfully"
} as Object {encoding: "UTF-8", mediaType: "application/json"}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="INFO: END" doc:id="d100cccc-cdb9-42be-b75c-f2003bf7c14f" message='#[{&#10;	"Flow": flow.name ++ "Ended",&#10;	"CorrelationID" : correlationId&#10;}]'/>
	</flow>
</mule>
